.App {
  text-align: center;
}

.App--header {
  background-color: #6e7f80;
  min-height: 100vh;
  height:100vh;
  background-color: #6e7f80;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  color: white;
}

.App--hatWiz {
  color: #0035b3;
  font-size: calc(15px + 2vmin);
}

.App--bird {
  color: black;
  font-size: calc(15px + 2vmin);
}

.App--bird-offset {
  position: relative;
  top: 3px;
  right: 7px;
}
